/*  your css code here. If applicable */
html,body{
	height: 100%;
	width: 100%;
	
}
.hero{
	display: flex;
	height: 100%;
	width: 100%;
}
.sec{
	text-align: center;
}
img{
	width: 50%;
	height: 30%;
	object-fit: cover;	
}
button{
	background-color: red;
	color: white;
	padding: 2%;
	border: none;
}